.home-page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

header {
  height: fit-content;
  width: 100%;
  z-index: 1000;
}

main {
  height: 75%;
  width: 100%;
  z-index: 999;
}

footer {
  height: 25%;
  width: 95vw;
}
