.primary-button {
  background-color: var(--s);
  border: 1px solid var(--p);
  color: var(--t);
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out,
    color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.primary-button:hover {
  background-color: var(--p);
  border-color: var(--a);
  color: var(--b);
  transform: scale(1.1);
}
