@media (prefers-color-scheme: light) {
  :root {
    --t: rgb(10, 14, 21);
    --b: rgb(248, 249, 252);
    --p: rgb(31, 63, 112);
    --s: rgb(123, 167, 229);
    --a: rgb(26, 99, 209);
    --backgroundfooter: rgba(15, 23, 33, 0.05);
  }
}
/*https://www.realtimecolors.com/?colors=eaeef5-030508-8fb0e0-1a4582-3079e5&fonts=Poppins-Noto%20Sans*/
@media (prefers-color-scheme: dark) {
  :root {
    --t: rgb(234, 238, 245);
    --b: rgb(3, 5, 8);
    --p: rgb(143, 176, 224);
    --s: rgb(26, 69, 130);
    --a: rgb(48, 121, 229);
    --backgroundfooter: hsl(218, 35%, 94%, 5%)
  }
}
:root {
  font-family: "Poppins", "Noto Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--t);
  background-color: var(--b);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
  margin: 0.5rem;
  padding: 0.5rem;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  height: fit-content;
  width: fit-content;
  border-radius: 0.7rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

a {
  color: var(--a);
  text-align: center;
  height: fit-content;
  margin: 0.5rem;
  text-decoration: none;
}
